/** CSS STYLE **/

:root {
  --basic-white: #fff;
  --basic-black: #2a2626;
  --primary-bright: #fe8a02;
  --primary-dark: #42413c;
  --theme-light: #f5f4f0;
  --theme-dark: #b09a81;
  --semi-white: #d7ccc0;
  --semi-black: #908d8b;
  --link-unvisited: #1085c5;
  --img-shadow: rgba(0, 0, 0, 0.15);
  --button-hover: #ea7600;
}

html,
body {
  box-sizing: border-box;

  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-style: normal;
  line-height: 1.6;
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 30px 0 15px;

  color: var(--primary-bright);
  font-weight: 400;
  font-size: 60px;
  font-family: 'Neucha', 'Comic Sans MS', cursive;
  font-style: normal;
  line-height: 1.2;
}

:link {
  color: var(--link-unvisited);
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;

  font-size: 1px;
  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Headings */

.heading {
  font-weight: 400;
  font-size: 60px;
  font-family: 'Neucha', 'Comic Sans MS', cursive;
  font-style: normal;
  line-height: 1.2;
}

.heading-large {
  font-size: 72px;
}

.heading-small {
  font-size: 52px;
}

.heading-x-small {
  font-size: 34px;
}

.text-caption {
  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  text-transform: uppercase;
}

/* Text contents */

.text {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-style: normal;
  line-height: 1.6;
}

.text-bright {
  color: var(--primary-bright);
}

.text-lead {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', 'Comic Sans MS', cursive;
  font-style: normal;
  line-height: 1.2;
}

.topic-name {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Neucha', 'Comic Sans MS', cursive;
  font-style: normal;
  line-height: 1.2;
}

/* Buttons */

.button {
  border: none;

  color: var(--basic-white);
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary-bright);
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}

/* Themes */

.theme-light {
  color: var(--basic-black);

  background-color: var(--theme-light);
}

.theme-light .heading {
  color: var(--basic-black);
}

.theme-light .topic-name {
  color: var(--semi-black);
}

.theme-light .bias-info {
  order: 1;
}

.theme-light .text-caption {
  color: var(--basic-white);

  background-color: var(--theme-dark);
}

.theme-dark {
  color: var(--basic-white);

  background-color: var(--theme-dark);
}

.theme-dark .heading {
  color: var(--basic-white);
}

.theme-dark .topic-name {
  color: var(--semi-white);
}

.theme-dark .text-caption {
  color: var(--theme-dark);

  background-color: var(--basic-white);
}

.theme-dark .text {
  color: var(--basic-white);
}

/* Atomic styles */

.pos-r { position: relative; }
.d-b { display: block; }
.m-0 { margin: 0; }
.mb-15 { margin-bottom: 15px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.o-h { overflow: hidden; }
.c-white { color: var(--basic-white); }
.c-black { color: var(--basic-black); }
.fz-12 { font-size: 12px; }
.fz-13 { font-size: 13px; }
.fz-14 { font-size: 14px; }
.fz-18 { font-size: 18px; }
.ta-c { text-align: center; }
.td-n { text-decoration: none; }
.bgc-light { background-color: var(--theme-light); }
.bgc-dark { background-color: var(--primary-dark); }
.f-drsh { filter: drop-shadow(0 16px 32px var(--img-shadow)); }
.lis-n { list-style: none; }
.brb-c { break-before: column; }

/* MAIN */

.page-section {
  padding: 100px 0;
}

.bg-pattern {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.main-heading {
  position: relative;
  z-index: 1;

  width: 580px;
  margin: 0;
  margin-bottom: 200px;
}

.main-image {
  position: absolute;
  top: -45px;
  right: -255px;
}

.text-columns {
  column-count: 2;
  column-gap: 30px;
}

.main-button {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 24px;

  vertical-align: baseline;
}

.video-section {
  min-height: 805px;
}

.video-box {
  position: absolute;
  bottom: -100px;
  left: 50%;

  margin-left: -460px;
}

.video {
  border: none;
}

.nav-section {
  padding-top: 200px;
}

.nav-heading {
  position: absolute;

  width: 350px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  margin: 0;
  padding: 0;
}

.nav-list::before {
  display: block;
  width: 350px;

  content: "";
}

.nav-item {
  width: 350px;
}

.nav-item:hover {
  background-color: var(--primary-bright);
}

.nav-item:hover * {
  color: var(--basic-white);
}

.nav-link {
  display: block;
  height: 100%;
  padding: 24px;
}

.specifier {
  color: var(--primary-dark);
  font-weight: 400;
  font-size: 64px;
  font-family: 'Neucha', 'Comic Sans MS', cursive;
  font-style: normal;
  line-height: 1;
}

.bias-layout {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.bias-image {
  width: 578px;
  height: 434px;
}

.bias-caption {
  margin: 0;
  margin-bottom: 20px;
  padding: 5px 10px;

  column-span: all;
}

.bias-citation {
  font-style: normal;
}

.bias-quote {
  quotes: none;
}

.footer-layout {
  display: flex;
  justify-content: space-between;
  min-height: 190px;
  margin-bottom: 76px;
  padding: 40px 55px;
}

.footer-heading {
  align-self: center;
}

.footer-form {
  display: flex;
  flex-flow: row wrap;
  width: 485px;
}

.form-label {
  flex-basis: 100%;
  margin-bottom: 6px;
}

.form-input {
  flex-grow: 1;
  height: 50px;
  padding: 15px;
  border: none;
}

.form-text {
  flex-basis: 100%;
  order: 1;
}

.form-button {
  flex: 0 0 65px;
  width: 70px;
  height: 50px;
  padding: 12px 6px;
}

.bg-button {
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}
