/** CSS STYLE **/

:root {
  --basic-white: #fff;
  --basic-black: #2a2626;
  --primary-bright: #fe8a02;
  --primary-dark: #42413c;
  --theme-light: #f5f4f0;
  --theme-dark: #b09a81;
  --semi-white: #d7ccc0;
  --semi-black: #908d8b;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;

  font-size: 1px;
  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Headings */

.heading {
  font-weight: 400;
  font-size: 60px;
  font-family: 'Neucha', 'Comic Sans MS', cursive;
  font-style: normal;
  line-height: 1.2;
}

.heading-large {
  font-size: 72px;
}

.heading-small {
  font-size: 52px;
}

.heading-x-small {
  font-size: 34px;
}

/* Text contents */

.text {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-style: normal;
  line-height: 1.6;
}

.text-bright {
  color: var(--primary-bright);
}

.text-lead {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', 'Comic Sans MS', cursive;
  font-style: normal;
  line-height: 1.2;
}

.topic-name {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Neucha', 'Comic Sans Ms', cursive;
  font-style: normal;
  line-height: 1.2;
}

.text-caption {
  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Buttons */

.button {
  border: none;

  color: var(--basic-white);
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary-bright);
}

/* Themes */

.theme-light {
  color: var(--basic-black);

  background-color: var(--theme-light);
}

.theme-dark {
  color: var(--basic-white);

  background-color: var(--theme-dark);
}

